@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');



body {
  background-color: #111;
  color: #eee;
  overflow-x: hidden;
  height: 1000px;
}

html {
  overflow-y: hidden;  
}



/*------------Лого------------*/

h1 {
  margin-top: 1vmax;
  margin-left: auto;
  margin-right: auto;
  font-family: "Indie Flower";
  font-size: 8rem;
  box-shadow: 0 0 1px 4px #ddd;
  transform: translateY(17vmax);
  animation: appearing 2s ease-in-out forwards,
             move .5s ease-in forwards;
  animation-delay: 0s, 2s;
  user-select: none;
  width: inherit;
  transition: font-size .5s ease-in-out,
              width .5s ease-in-out;
}
.reduceLogoSize {
/*   margin: 0 auto; */
  width: 15rem;
  font-size: 2rem;
  transition: font-size .5s ease-in-out,
              width .5s ease-in-out;
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateY(17vmax);
  }
  to {
    transform: translateY(0vmax);
  }
}

/*----------------------------*/



/*------------Меню------------*/

.gamemodeMenu {
  margin-top: 7% !important;
} 

button {
  margin-top: 5%;
  padding: 2.5% !important;
  border: none !important;
  background-color: #111 !important;
  box-shadow: 0 0 1px 1px #ddd;
  font-family: "Raleway";
  font-size: 20px !important;
  font-weight: 500 !important;
  opacity: 0;
  animation: appearing 2s 3s ease-in-out forwards;
  position: relative;
}

#pvp {
  left: 0;
  transition: left .5s ease-out;
}
#pvc {
  right: 0;
  transition: right .5s ease-out; 
}

.buttonMoveRight {
  left: 400% !important;
  transition: left 10.5s ease-in;
}

.buttonMoveLeft {
  right: 400% !important;
  transition: right 10.5s ease-in;
}

button:hover {
    box-shadow: 0 0 3px 1px #eee;
}

#pvp:hover {
  background-color: #112 !important;
}

#pvc:hover {
  background-color: #211 !important;
}

/*----------------------------*/



/*------------Поле------------*/
.table {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  visibility: hidden;
}

.tableAppear {
  visibility: visible;
}

.tableAppear td {
  width: 100px !important;
  height: 100px !important;
  transition: width .5s ease-out,
              height .5s ease-out;
}
.table table {
  border-collapse:  separate;
}
.table td {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 5px solid #353535;
  font-size: 40px;
  color: #eee;
  vertical-align: middle !important;
  transition: width .5s ease-out,
              height .5s ease-out;
  
}

.coloredCells td{  
  animation: winCells 2.5s ease-in-out infinite alternate;
}

@keyframes winCells {
  0% {
      box-shadow: 0 0 2px 10px #FF00FF inset;
  }
  25% {
      box-shadow: 0 0 2px 10px  #DC143C inset;
  }
  50% {
       box-shadow: 0 0 2px 10px #00FF00 inset;
  }
  75% {
       box-shadow: 0 0 2px 10px #FFFF00 inset;
  }
  100% {
       box-shadow: 0 0 2px 10px #00FFFF inset;
  }
}

.turnIndicatorContainer {
  margin-bottom: 1%;  
}

#turnIndicator {
  color: #eee;
  font-size: 3rem;
}

.incorrect {
  border-color: #eee !important;
}
/*----------------------------*/
